<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="@string/skk_app_name"
        android:icon="@drawable/ic_skk"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon">
        <activity android:name=".SkkInstallerActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/x-skk"/>
                <data android:scheme="content" android:pathPattern=".*\\.skk"/>
                <data android:scheme="file" android:pathPattern=".*\\.skk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SkkInstallerActivity" android:exported="true" android:label="@string/skk_app_name">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>

        <!-- SKK Loader flavor must contain only the installer. Remove every manager entry point. -->
        <activity android:name=".FastMainActivity" tools:node="remove"/>
        <activity android:name=".MainActivity" tools:node="remove"/>
        <activity android:name=".MusabTextActivity" tools:node="remove"/>
        <activity android:name=".MusabXmlViewerActivity" tools:node="remove"/>
        <activity android:name=".MusabImageViewerActivity" tools:node="remove"/>
        <activity android:name=".MusabVideoViewerActivity" tools:node="remove"/>
        <activity android:name=".MusabAudioPlayerActivity" tools:node="remove"/>
        <activity android:name=".MusabArchiveViewerActivity" tools:node="remove"/>
        <activity android:name=".MusabBuildActivity" tools:node="remove"/>
        <receiver android:name=".MusabWidgetProvider" tools:node="remove"/>
        <receiver android:name=".SkkInstallReceiver" android:exported="false"/>
    </application>
</manifest>